@use "../../assets/styles/mixins" as mixin;

.header {
  position: relative;
  padding: 10px 20px;
  height: 58px;
  background-color: black;
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);

  a {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  .responsive {
    @include mixin.xs {
      display: none;
    }
  }

  .mobileHeader {
    display: none;
    cursor: pointer;

    @include mixin.xs {
      display: block;
    }
  }
}
