@use "../../assets/styles/mixins" as mixin;

.square {
  width: 50px;
  height: 50px;
  background-color: green;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;

  @include mixin.sm-lt {
    width: 35px;
    height: 35px;
  }
}

.square:hover {
  cursor: pointer;
  background-color: lightgreen;
}

.piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;

  @include mixin.sm-lt {
    width: 25px;
    height: 25px;
  }
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
