@use "../../assets/styles/mixins" as mixin;

.jeu {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mixin.lg-lt {
    margin-top: 50px;
  }
}

h2 {
  @include mixin.sm-lt {
    margin-top: 50px;
  }
}

.table {
  @include mixin.sm-lt {
    margin-bottom: 50px;
  }
}
