.btn {
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
  text-decoration: none;
  margin-top: 15px;

  &:hover {
    background-color: lightgreen;
    border: 2px solid lightgreen;
  }
}

.btn-primary {
  background-color: green;
  color: white;
  border: 2px solid green;
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.table {
  background-color: #9cc7ab;
}
